@font-face {
    font-family: SportsNight;
    src: url(../assets/fonts/SFSportsNight.ttf);
}

#viewport {
    background-image: url(../assets/images/stadium2.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
}

#game, #start, #options, #results {
    font-family: Arial, Helvetica, sans-serif;
}

#results img{
    width: 25%;
    height: 25%;
    object-fit: contain;
}

.option {
    display: block;
}

h3 {
    font-size: 2rem;
}

p{
    font-size: 1rem;
}